.movies {
    display: flex;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
}

.movies-list-container {
    padding: 24px;
}

.page-title {
    font-size: 32px;
}