.header-bar {
    display: flex;
    padding: 24px;
    border-top: 4px solid red;
    border-image: linear-gradient(to right, #F61C1C 0%,#F9F255 20%, #8FFF7C 40%, #8DF3DB 60%, #8E3DF5 80%, #FF007A 100%);
    border-image-slice: 1;
    width: 100vw;
    box-sizing: border-box;
    justify-content: space-between;
}

.search-area {
    display: flex;
    width: 80%;
}

.search-bar {
    margin-left: 35%;
    margin-right: 16px;
    width: 40%;
}

.search-button {
    border: 0px solid red;
    border-radius: 16px;
    background-color: #fff;
    padding: 8px;
    color: #111;
    font-weight: bold;
}

.back-button {
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
}